<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.team.admin">
	<select id="allProductList" resultType="ProductVo">
		select p_no  , p_name , cate_no , p_price , p_content , p_seller , p_thumbimg , p_regdate , p_no2 from (
																								select a.*
																								from clothes_product a
																							
																								union all 
																							
																								select b.c_com_no  , b.c_com_name , b.c_com_cate_no , b.c_com_price , b.c_com_content , b.c_com_seller , b.c_com_pic , b.c_com_regdate , b.p_no
																								from computer_product b 
																							
																								union all 
																							
																								select c1.* 
																								from furniture_bed c1
																							
																								union all
																								
																								select c2.* 
																								from furniture_interior c2
																								
																								union all
																								
																								select c3.*
																								from furniture_kitchen c3
																								
																								union all
																								
																								select c4.*
																								from furniture_life c4
																								
																								union all
																								
																								select d.*
																								from whitegoods d
	)
	order by p_no2 desc
	</select>
	
	<!-- 판매자 등록 취소 -->
	<update id="rollbackSeller">
		update member set
    		m_selling = 0,
    		m_selling_regdate = null
		where m_id = #{m_id}
	</update>
	
	<!-- 여기부터 관리자가 상품 등록된 것 삭제하는 것 -->
	<delete id="adminDeleteFBed">
		delete from furniture_bed
		where bed_no = #{bed_no}
	</delete>

	<delete id="adminDeleteFInterior">
		delete from furniture_interior
		where interior_no = #{interior_no}
	</delete>

	<delete id="adminDeleteFKitchen">
		delete from furniture_kitchen
		where kitchen_no = #{kitchen_no}
	</delete>

	<delete id="adminDeleteFLife">
		delete from furniture_life
		where life_no =  #{life_no}
	</delete>
	
	<delete id="adminDeleteClothes">
		delete from clothes_product
		where p_no =  #{p_no}
	</delete>
	
	<delete id="adminDeleteComputer">
		delete from computer_product
		where c_com_no =  #{c_com_no}
	</delete>
	
	<delete id="adminDeleteWhitegoods">
		delete from whitegoods
		where w_no =  #{w_no}
	</delete>
	<!-- 여기까지가 삭제 -->
	
	<!-- 여기부터 카테고리 추가 -->
	<insert id="adminCategoryInput">
		insert into category(cate_no, cate_name, cate_ref)
		values (#{cate_no}, #{cate_name}, #{cate_ref})
	</insert>
	<!-- 여기까지 카테고리 추가 -->
	
	<!-- 여기부터 카테고리 삭제 -->
	<delete id="adminCategoryDelete">
		delete from category
		where cate_no = #{cate_no}
	</delete>
	<!-- 여기까지 카테고리 삭제 -->
	
	<!-- 카테고리 삭제에 필요한 카테고리 목록 가져오기 -->
	<select id="getCategoryList" resultType="CategoryVo">
		select * from category
		order by cate_no
	</select>
	
	<!-- 카테고리 삭제에 필요한 카테고리 선택시 목록 가져오기 -->
	<select id="CategoryDeleteList" resultType="CategoryVo">
		select * from category
		where cate_no like '' || #{cate_no} || '%'
		order by cate_no
	</select>
	
	<!-- 게시물 삭제에 필요한 카테고리 별 게시물 리스트 가져오기 -->
	<select id="productCateList" resultType="ProductVo">
		select p_no  , p_name , cate_no , p_price , p_content , p_seller , p_thumbimg , p_regdate , p_no2 from (
																								select a.*
																								from clothes_product a
																							
																								union all 
																							
																								select b.c_com_no  , b.c_com_name , b.c_com_cate_no , b.c_com_price , b.c_com_content , b.c_com_seller , b.c_com_pic , b.c_com_regdate , b.p_no
																								from computer_product b 
																							
																								union all 
																							
																								select c1.* 
																								from furniture_bed c1
																							
																								union all
																								
																								select c2.* 
																								from furniture_interior c2
																								
																								union all
																								
																								select c3.*
																								from furniture_kitchen c3
																								
																								union all
																								
																								select c4.*
																								from furniture_life c4
																								
																								union all
																								
																								select d.*
																								from whitegoods d
	)
	where cate_no like '' || #{cate_no} || '%'
	order by p_no2 desc
	</select>
	
	<!-- 판매자권한 삭제에 필요한 판매자 리스트 가져오기 -->
	<select id="sellerList" resultType="MemberVo">
		select * from member
		where m_selling = 1
		and ADMIN_CHECK != 1
	</select>
	
	<!-- 카테고리 추가에서 사용할 대분류 가져오기 -->
	<select id="firstCategoryList" resultType="CategoryVo">
		select * from category
		where cate_ref is null
	</select>
	
	<!-- 카테고리 추가에서 사용할 하위 분류 가져오기 -->
	<select id="otherCategoryList" resultType="CategoryVo">
		select * from category
		where cate_ref = #{cate_ref}
	</select>
	
	<select id="imgNameSearch" resultType="string">
		select p_thumbimg from (
								select a.*
								from clothes_product a

								union all 
																							
								select b.c_com_no  , b.c_com_name , b.c_com_cate_no , b.c_com_price , b.c_com_content , b.c_com_seller , b.c_com_pic , b.c_com_regdate , b.p_no
								from computer_product b 
								
								union all 
								
								select c1.* 
								from furniture_bed c1
								
								union all
								
								select c2.* 
								from furniture_interior c2
								
								union all
								
								select c3.*
								from furniture_kitchen c3
								
								union all
								
								select c4.*
								from furniture_life c4
								
								union all
								
								select d.*
								from whitegoods d
		)
	where p_no2 = #{p_no2}
	</select>
	
	<!-- 상품게시물에 대한 이미지 삭제 -->
	<delete id="productImgDelete">
		delete from product_images
		where p_no = #{p_no}
	</delete>
	<!-- 상품게시물에 대해 삭제할 이미지 이름 가져오기 -->
	<select id="productImgList" resultType="String">
		select img_name from product_images
		where p_no = #{p_no}
	</select>
	
	<!-- 회원삭제에 필요한 회원 목록 -->
	<select id="adminMemberSearch" resultType="MemberVo">
		select * from member
		where ADMIN_CHECK != 1
	</select>
	
	<!-- 회원 삭제 -->
	<delete id="adminMemberDelete">
		delete from member
		where m_id = #{m_id}
	</delete>
	
	<!-- 회원 판매자권한 박탈 경력 삭제 -->
	<delete id="adminDeleteSanctions">
		delete from sanctions
		where m_id = #{m_id}
	</delete>
	
	<!-- 카트에 상품 담은 회원 삭제 -->
	<delete id="adminDeleteCart">
		delete from cart
		where m_id = #{m_id}
	</delete>
	
	<delete id="adminMemberClothesDelete">
		delete from clothes_product
		where m_id = #{m_id}
	</delete>
	
	<delete id="adminMemberComputerDelete">
		delete from computer product
		where m_id = #{m_id}
	</delete>
	
	<delete id="adminMemberWhitegoodsDelete">
		delete from whitegoods
		where m_id = #{m_id}
	</delete>
	
	<delete id="adminMemberFBedDelete">
		delete from furniture_bed
		where m_id = #{m_id}
	</delete>
	
	<delete id="adminMemberFInteriorDelete">
		delete from furniture_interior
		where m_id = #{m_id}
	</delete>
	
	<delete id="adminMemberFKitchenDelete">
		delete from furniture_Kitchen
		where m_id = #{m_id}
	</delete>
	
	<delete id="adminMemberFLifeDelete">
		delete from furniture_life
		where m_id = #{m_id}
	</delete>
</mapper>