<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.team.auction">
 	<!-- 메인 리스트 -->
	<select id="getAuctoionMainList" resultType="AuctionSellVo">
		select a.*, addr.*, rdate.*, edate.*, img.*
		from auction a 
		inner join auction_address addr
		on a.p_no = addr.p_no
		inner join auction_register_date rdate
		on addr.p_no = rdate.p_no
		inner join auction_expiration_date edate
		on rdate.p_no = edate.p_no
		inner join auction_main_img img
		on edate.p_no = img.p_no
		where a.p_no not in (select p_no from auction_bid)
		order by rdate.r_year desc , rdate.r_month desc, rdate.r_day desc, rdate.r_hour desc, rdate.r_minute desc
	</select>

	<!-- 입찰 중인 내상품 -->
	<select id="getAuctionBidingList" parameterType="hashMap" resultType="AuctionSellVo">
		select a.*, addr.*, rdate.*, edate.*, img.*
		from auction a 
		inner join auction_address addr
		on a.p_no = addr.p_no
		inner join auction_register_date rdate
		on addr.p_no = rdate.p_no
		inner join auction_expiration_date edate
		on rdate.p_no = edate.p_no
		inner join auction_main_img img
		on edate.p_no = img.p_no
		where a.seller=#{m_id} and a.p_no not in (select p_no from auction_bid)
		and (edate.e_year &gt; #{dtVo.n_year}
		or (edate.e_year = #{dtVo.n_year} and edate.e_month &gt; #{dtVo.n_month})
		or (edate.e_year = #{dtVo.n_year} and edate.e_month = #{dtVo.n_month} and edate.e_day &gt; #{dtVo.n_day})
		or (edate.e_year = #{dtVo.n_year} and edate.e_month = #{dtVo.n_month} and edate.e_day = #{dtVo.n_day} and edate.e_hour &gt; #{dtVo.n_hour})
		or (edate.e_year = #{dtVo.n_year} and edate.e_month = #{dtVo.n_month} and edate.e_day = #{dtVo.n_day} and edate.e_hour = #{dtVo.n_hour} and edate.e_minute &gt; #{dtVo.n_minute})
		or (edate.e_year = #{dtVo.n_year} and edate.e_month = #{dtVo.n_month} and edate.e_day = #{dtVo.n_day} and edate.e_hour = #{dtVo.n_hour} and edate.e_minute = #{dtVo.n_minute} and edate.e_second &gt; #{dtVo.n_second}))
	</select>
	
	<!-- 입찰 마감된 내 상품 -->
	<select id="getAuctionBidingFinishList" resultType="AuctionSellVo">
		select a.*, addr.*, rdate.*, edate.*, img.*
		from auction a 
		inner join auction_address addr
		on a.p_no = addr.p_no
		inner join auction_register_date rdate
		on addr.p_no = rdate.p_no
		inner join auction_expiration_date edate
		on rdate.p_no = edate.p_no
		inner join auction_main_img img
		on edate.p_no = img.p_no
		where a.seller = #{m_id} and a.p_no not in (select p_no from auction_bid)
		and (edate.e_year &lt; #{dtVo.n_year} 
		or (edate.e_year = #{dtVo.n_year} and edate.e_month &lt; #{dtVo.n_month})
		or (edate.e_year = #{dtVo.n_year} and edate.e_month = #{dtVo.n_month} and edate.e_day &lt; #{dtVo.n_day})
		or (edate.e_year = #{dtVo.n_year} and edate.e_month = #{dtVo.n_month} and edate.e_day = #{dtVo.n_day} and edate.e_hour &lt; #{dtVo.n_hour})
		or (edate.e_year = #{dtVo.n_year} and edate.e_month = #{dtVo.n_month} and edate.e_day = #{dtVo.n_day} and edate.e_hour = #{dtVo.n_hour} and edate.e_minute &lt; #{dtVo.n_minute})
		or (edate.e_year = #{dtVo.n_year} and edate.e_month = #{dtVo.n_month} and edate.e_day = #{dtVo.n_day} and edate.e_hour = #{dtVo.n_hour} and edate.e_minute = #{dtVo.n_minute} and edate.e_second &lt; #{dtVo.n_second}))
	</select>
	
	<!-- 거래된 내 상품 -->
	<select id="getAuctionUserMemberListSold" resultType="AuctionSoldVo">
		select a.*, addr.*, rdate.*, bid.*, img.*
		from auction a 
		inner join auction_address addr
		on a.p_no = addr.p_no
		inner join auction_register_date rdate
		on addr.p_no = rdate.p_no
		inner join auction_bid bid
		on rdate.p_no = bid.p_no
		inner join auction_main_img img
		on bid.p_no = img.p_no
		where a.seller=#{m_id} and a.p_no in (select p_no from auction_bid where seller_id=#{m_id})
		order by bid.bid_date desc
	</select>
	
	<!-- 내가 구매한 다른 사람 상품 -->
	<select id="getAuctionPurchaserList" resultType="AuctionSoldVo">
		select a.*, addr.*, rdate.*, bid.*, img.*
		from auction a 
		inner join auction_address addr
		on a.p_no = addr.p_no
		inner join auction_register_date rdate
		on addr.p_no = rdate.p_no
		inner join auction_bid bid
		on rdate.p_no = bid.p_no
		inner join auction_main_img img
		on bid.p_no = img.p_no
		where a.purchaser=#{m_id} and a.p_no in (select p_no from auction_bid where purchaser_id=#{m_id})
		order by bid.bid_date desc
	</select>
	
	<!-- 수정할 값 가져오기 -->
	<select id="getAuctionModifyList" resultType="AuctionSellVo">
		select a.*, addr.*, rdate.*, edate.*, img.*
		from auction a 
		inner join auction_address addr
		on a.p_no = addr.p_no
		inner join auction_register_date rdate
		on addr.p_no = rdate.p_no
		inner join auction_expiration_date edate
		on rdate.p_no = edate.p_no
		inner join auction_main_img img
		on edate.p_no = img.p_no
		where a.p_no = #{p_no}
	</select>
	
	<select id="getAuctionMainImg" resultType="AuctionMainImgVo">
		select * from auction_main_img
	</select>
	
	<select id="getAuctionImg" resultType="AuctionImgVo">
		select * from auction_img
	</select>
	
	<select id="getNextSeqNumber" resultType="int">
		select last_number from user_sequences
		where sequence_name = 'SEQ_AUCTION_PNO'
	</select>
	
	<!-- 메인에서 상품 클릭 했을 때 -->
	<select id="getAuctionSelectedItem" resultType="AuctionSellVo">
		select a.*, addr.*, rdate.*, edate.*, img.*
		from auction a 
		inner join auction_address addr
		on a.p_no = addr.p_no
		inner join auction_register_date rdate
		on addr.p_no = rdate.p_no
		inner join auction_expiration_date edate
		on rdate.p_no = edate.p_no
		inner join auction_main_img img
		on edate.p_no = img.p_no
		where a.p_no = #{p_no}
	</select>
	
	<select id="getAuctionSelectedImg" resultType="AuctionImgVo">
		select * from auction_img where p_no = #{p_no}
	</select>
	
	<!-- 입찰 시작 -->
	
	<select id="getAuctionTempBid" resultType="AuctionTempBidVo">
		select * from auction_temp_bid where p_no = #{p_no}
	</select>
	
	<select id="getAuctionBid" resultType="AuctionBidVo">
		select * from auction_bid where p_no = #{p_no}
	</select>
	
	<select id="getAuctoinTempBidMaxPrice" resultType="String">
		select max(temp_bid_price) from auction_temp_bid where p_no = #{p_no}
	</select>
	
	<select id="getAuctionCountBid" resultType="int">
		select count(*) from auction_temp_bid where p_no=#{p_no}
	</select>
	
	<select id="getAuctionExpirationDate" resultType="AuctionEDateVo">
		select * from auction_expiration_date where p_no=#{p_no}
	</select>
	
	<insert id="insertAuctionTempBid">
		insert into auction_temp_bid(temp_bid_no, temp_purchaser_id, temp_seller_id, temp_bid_price, p_no) values(seq_temp_bid_no.nextval, #{purchaser}, #{seller}, #{bidPrice}, #{p_no})
	</insert>
	
	<update id="updateAuctionEDate">
		update auction_expiration_date set e_year=#{e_year}, e_month=#{e_month}, e_day=#{e_day}, e_hour=#{e_hour}, e_minute=#{e_minute}, e_second=#{e_second} where p_no=#{p_no}
	</update>
	
	<!-- 자동 입찰시 임시 bid에서 제일 큰 가격가져오기 -->
	<select id="getTempBidFromMaxPrice" resultType="AuctionTempBidVo">
		select * from auction_temp_bid where temp_bid_no in (
		SELECT MAX(temp_bid_no) KEEP(DENSE_RANK FIRST ORDER BY temp_bid_price DESC) as temp_bid_no
		FROM auction_temp_bid where p_no=#{p_no})
	</select>
	
	<!-- 시간 종료시 가장 높은 값을 temp_bid에서 bid로 삽입 -->
	<insert id="insertAutoCommitBid">
		insert into auction_bid(bid_no, purchaser_id, seller_id, bid_price, bid_date, p_no)
		select SEQ_BID_NO.nextval, temp_purchaser_id, temp_seller_id, temp_bid_price, temp_bid_date, p_no
		from auction_temp_bid where temp_bid_no in (
		SELECT MAX(temp_bid_no) KEEP(DENSE_RANK FIRST ORDER BY temp_bid_price DESC) as temp_bid_no
		FROM auction_temp_bid where p_no=#{p_no})
	</insert>
	
	<!-- 마감기한이 지나면 expiration테이블의 deadline 업데이트 -->
	<update id="updateAuctionExpriationDeadline">
		update auction_expiration_date set deadline='N' where p_no=#{p_no}
	</update>
	
	<!-- auction 데이블에 purchaser와 sold_price 업데이트 -->
	<update id="updateAuctionAfterFinish">
		update auction set purchaser=#{purchaser}, sold_price=#{sold_price} where p_no=#{p_no} and seller=#{seller}
	</update>
	<!-- 입찰 끝 -->
	
	<insert id="insertAuction">
		insert into AUCTION(p_no, seller, p_title, p_content, present_price, instant_price)
		values(SEQ_AUCTION_PNO.nextval ,#{seller}, #{p_title}, #{p_content},#{present_price} ,#{instant_price})
	</insert>
	
	<insert id="insertAuctionAddress">
		insert into auction_address(address_no, zip, road_address, jibun_address, detail_address, p_no)
		values(SEQ_AUCTION_ADDRESSNO.nextval,#{zip},#{road_address},#{jibun_address},#{detail_address},#{p_no})
	</insert>
	
	<insert id="insertAuctionImg">
		insert into auction_img(img_no, img_name, main_img_status, p_no)
		values(SEQ_AUCTION_IMG_NO.nextval,#{img_name},'0',#{p_no})
	</insert>
	
	<insert id="insertAuctionMainImg">
		insert into auction_main_img(main_img_no, main_img_name,p_no) values(seq_main_img_no.nextval, #{main_img_name}, #{p_no})
	</insert>
	
	<insert id="insertAuctionRegisterDate">
		insert into auction_register_date(r_no, r_year, r_month, r_day, r_hour, r_minute, r_second, p_no)
		values(SEQ_REGISTER_DATE.nextval,#{r_year},#{r_month},#{r_day},#{r_hour},#{r_minute},#{r_second},#{p_no})
	</insert>
	
	<insert id="insertAuctionExpirationDate">
		insert into auction_expiration_date(e_no, e_year, e_month, e_day, e_hour, e_minute, e_second, p_no)
		values(SEQ_EXPIRATION_DATE.nextval,#{e_year},#{e_month},#{e_day},#{e_hour},#{e_minute},#{e_second},#{p_no})
	</insert>
	
	<insert id="insertAuctionSoldDate">
		insert into auction_sold_date(s_no, s_year, s_month, s_day, s_hour, s_minute, p_no)
		values(SEQ_SOLD_DATE.nextval,#{s_year},#{s_month},#{s_day},#{s_hour},#{s_minute},#{p_no})
	</insert>
	
	<select id="AuctionLogin" resultType="MemberVo">
		select * from member where m_id=#{m_id} and m_pass=#{m_pass}
	</select>
	
	<!-- delete 시작 -->
	<delete id="deleteAuction_bid">
		select * from auction_bid where p_no =#{p_no}
	</delete>
	<delete id="deleteAuction_temp_bid">
		delete from auction_temp_bid where p_no=#{p_no}
	</delete>
	<delete id="deleteAuction_address">
		delete from auction_address where p_no=#{p_no}
	</delete>
	<delete id="deleteAuction_expration_date">
		delete from auction_expiration_date where p_no=#{p_no}
	</delete>
	<delete id="deleteAuction_img">
		delete from auction_img where p_no=#{p_no}
	</delete>
	<delete id="deleteAuction_main_img">
		delete from auction_main_img where p_no=#{p_no}
	</delete>
	<delete id="deleteAuction_register_date">
		delete from auction_register_date where p_no=#{p_no}
	</delete>
	<delete id="deleteAuction_sold_date">
		delete from auction_sold_date where p_no=#{p_no}
	</delete>
	<delete id="deleteAuction">
		delete from auction where p_no=#{p_no}
	</delete>
	
	
	
</mapper>