<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.team.computers">
	<select id="getComptersProductList" resultType="ComputerVo">
		select * from computer_product 
		where c_com_cate_no like #{c_com_cate_no} || '%'
		order by p_no desc
	</select>
	<select id="getComptersProductListArray" resultType="ComputerVo">
		select * from computer_product where 
						c_com_cate_no like 
					#{cate_no0} || '%'
						or c_com_cate_no like 
					#{cate_no1} || '%'
						or c_com_cate_no like 
					#{cate_no2} || '%'
						or c_com_cate_no like 
					#{cate_no3} || '%'
						or c_com_cate_no like 
					#{cate_no4} || '%'
						or c_com_cate_no like 
					#{cate_no5} || '%'
						order by p_no desc

		
	</select>
	
	<select id="getCategoryInfo" resultType="CategoryVo">
		select * from category
		where cate_ref = #{cate_ref}
	</select>
	<select id="getCategoryInfoArray" resultType="CategoryVo">
		select * from category where cate_ref = 
						(case when to_number(#{length}) >= 1 then #{cate_no0} else '' end)
						or cate_ref =
						(case when to_number(#{length}) >= 2 then #{cate_no1} else '' end)
						or cate_ref =
						(case when to_number(#{length}) >= 3 then #{cate_no2} else '' end)  
						or cate_ref =
						(case when to_number(#{length}) = 0 then #{now_cate_no} else '' end)
	</select>
	
	<select id="detailComputerInfo" resultType="ComputerVo">
		select * from computer_product
		where p_no = #{p_no}
	</select>
	
	
</mapper>