<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.team.member">
	<select id="login" resultType="MemberVo">
		select *
		from member
		where m_id = #{m_id}
		and m_pass = #{m_pass}
	</select>
	<select id="nonBuyerLogin" resultType="NonBuyer">
		select *
		from non_member
		where count_number = #{non_buyer} + 1	
	</select>
	<select id="sendEmailForFindId" resultType="String">
		select m_id
		from member
		where email = #{to}		
	</select>
	<select id="sendEmailForFindPw" resultType="String">
		select m_pass
		from member
		where m_id = #{m_id}	
		and email = #{to}	
	</select>
	<update id="changePw">
		update member set
			m_pass = #{m_pass_new}
		where m_id = #{m_id}				
	</update>
	<insert id="nonBuyerCreate">
		insert into non_member (count_number)
		values (seq_non_member_no.nextval)
	</insert>
</mapper>