<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.team.page">

	<!-- 더보기 버튼 -->
	<select id="morePage" resultType="ProductVo">
		select * from (
		select rownum rnum , p_no , p_name , cate_no , p_price , p_content ,
		p_seller , p_thumbimg , p_regdate from (

		select a.*
		from clothes_product a

		union

		select b.c_com_no , b.c_com_name , b.c_com_cate_no , b.c_com_price ,
		b.c_com_content , b.c_com_seller , b.c_com_pic , b.c_com_regdate ,
		b.p_no
		from computer_product b

		union all

		select c1.*
		from furniture_bed c1

		union all

		select c2.*
		from furniture_interior c2

		union all

		select c3.*
		from furniture_kitchen c3

		union all

		select c4.*
		from furniture_life c4

		union all

		select d.* from whitegoods d

		)) where rnum between #{startNum} and #{startNum + 1}
	</select>

	<!-- 검색 -->
	<select id="search" resultType="ProductVo">
		select p_no , p_name , cate_no , p_price , p_content , p_seller , p_thumbimg , p_regdate , p_no2
		
		from (

		select a.*
		from clothes_product a

		union all

		select b.c_com_no ,
		b.c_com_name , b.c_com_cate_no , b.c_com_price , b.c_com_content , b.c_com_seller , b.c_com_pic , b.c_com_regdate , b.p_no 
		from computer_product b

		union all

		select c1.*
		from furniture_bed c1

		union all

		select c2.*
		from furniture_interior c2

		union all

		select c3.*
		from
		furniture_kitchen c3

		union all

		select c4.*
		from furniture_life c4

		union all

		select d.*
		from whitegoods d
		) where p_name like '%' || #{searchName} || '%' 

	</select>
</mapper>