<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.kh.team.sell">
	<update id="registration">
		update member set
    		m_selling = 1,
    		m_selling_regdate = sysdate
		where m_id = #{m_id}
	</update>
	
	<select id="getCategoryList" resultType="CategoryVo">
		select * from category
		where cate_ref = #{cate_ref}
	</select>
	
	<select id="firstCategoryList" resultType="CategoryVo">
		select * from category
		where cate_ref is null
	</select>

	<!-- 컴퓨터 입력 -->
	<insert id="computerInsert">
	insert into computer_product(c_com_no, c_com_name, c_com_seller, c_com_price, c_com_cate_no, c_com_content, c_com_pic, p_no)
	values (computer_product_cno.nextval, #{c_com_name}, #{c_com_seller}, #{c_com_price}, #{c_com_cate_no}, #{c_com_content}, #{c_com_pic}, seq_product_no.nextval)
	</insert>
	
	<!-- furniture 입력 -->
	<insert id="fBedInsert">
	insert into furniture_bed(bed_no, bed_name, cate_no, bed_price, bed_content, bed_seller, bed_thumbimg, p_no)
	values(seq_furniter_interior_no, #{bed_name}, #{cate_no}, #{bed_price}, #{bed_content}, #{bed_seller}, #{bed_thumbimg}, seq_product_no.nextval)
	</insert>
	
	<insert id="fInteriorInsert">
	insert into furniture_interior(interior_no, interior_name, cate_no, interior_price, interior_content, interior_seller, interior_thumbimg, p_no)
	values(seq_furniter_interior_no.nextval, #{interior_name}, #{cate_no}, #{interior_price}, #{interior_content}, #{interior_seller}, #{interior_thumbimg}, seq_product_no.nextval)
	</insert>
	
	<insert id="fKitchenInsert">
	insert into furniture_kitchen(kitchen_no, kitchen_name, cate_no, kitchen_price, kitchen_content, kitchen_seller, kitchen_thumbimg, p_no)
	values(seq_furniter_interior_no, #{kitchen_name}, #{cate_no}, #{kitchen_price}, #{kitchen_content}, #{kitchen_seller}, #{kitchen_thumbimg}, seq_product_no.nextval)
	</insert>
	
	<insert id="fLifeInsert">
	insert into furniture_life(life_no, life_name, cate_no, life_price, life_content, life_seller, life_thumbimg, p_no)
	values(seq_furniter_interior_no, #{life_name}, #{cate_no}, #{life_price}, #{life_content}, #{life_seller}, #{life_thumbimg}, seq_product_no.nextval)
	</insert>
	
	<insert id="productImage">
	insert into product_images(img_no, p_no, img_name)
	values(product_img_no.nextval, #{p_no}, #{img_name})
	</insert>
 </mapper>