<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.team.whitegoods">
	<select id="getWhitegoodsList" resultType="WhitegoodsVo">
		select * from whitegoods
		where cate_no like ''|| #{cate_no} ||'%'
		order by w_no desc
	</select>
	
	<update id="updateWhitegoods">
		update whitegoods set
			w_name = #{w_name},
			w_price = #{w_price},
			cate_no = #{cate_no},
			w_content = #{w_content},
			w_thumbimg = #{w_thumbimg}
		where w_no = #{w_no}
		and w_seller = #{w_seller}
	</update>
	
	<delete id="deleteWhitegoods">
		delete from whitegoods
		where w_no = #{w_no}
	</delete>
	
	<select id="getFirstCategoryList" resultType="CategoryVo">
		select * from category
		where cate_ref = #{cate_ref}
	</select>
	
	<update id="readUpdate">
		update whitegoods set
			p_readcount = p_readcount + 1
		where w_no = #{w_no}
	</update>
	
	<select id="detailWhitegoods" resultType="WhitegoodsVo">
		select * from whitegoods
		where w_no = #{w_no}
	</select>
	
	<delete id="userPAlldelete">
		delete from whitegoods
		where w_seller = #{w_seller}
	</delete>
	
	<select id="productImgList" resultType="String">
		select img_name from product_images
		where p_no = #{p_no}
		order by img_no desc
	</select>
	
	<delete id="productImgDelete">
		delete from product_images
		where p_no = #{p_no}
	</delete>
	
	<!-- 상품설명 이미지 등록 -->
	<insert id="productImage">
		insert into product_images(img_no, img_name, p_no)
		values(product_img_no.nextval, #{img_name}, #{p_no})
	</insert>
</mapper>