<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.team.whitegoods">
	<select id="getWhitegoodsList" resultType="WhitegoodsVo">
		select * from whitegoods
		where cate_no like ''|| #{cate_no} ||'%'
		order by w_no desc
	</select>
	
	<insert id="insertWhitegoods">
		insert into whitegoods(w_no, w_name, w_seller, w_price, cate_no, w_content, w_thumbimg, p_no)
		values (seq_whitegoods_no.nextval, #{w_name}, #{w_seller}, #{w_price}, #{cate_no}, #{w_content}, #{w_thumbimg}, seq_product_no.nextval)
	</insert>
	
	<update id="updateWhitegoods">
		update whitegoods set
			w_name = #{w_name},
			w_price = #{w_price},
			cate_no = #{cate_no},
			w_content = #{w_content},
			w_thumbimg = #{w_thumbimg}
		where w_no = #{w_no}
		and w_seller = #{w_seller}
	</update>
	
	<delete id="deleteWhitegoods">
		delete from whitegoods
		where w_no = #{w_no}
		and w_seller = #{w_seller}
	</delete>
	
	<select id="getCategoryList" resultType="CategoryVo">
		select * from category
		where cate_ref = #{cate_ref}
	</select>
	
	<select id="detailWhitegoods" resultType="WhitegoodsVo">
		select * from whitegoods
		where w_no = #{w_no}
	</select>
	
	<delete id="userPAlldelete">
		delete from whitegoods
		where w_seller = #{w_seller}
	</delete>
</mapper>